<mat-toolbar color="primary">
    <button routerLink="/" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu_book</mat-icon>
    </button>
    <span>Examportal</span>
    <span class="example-spacer"></span>
    <button *ngIf="!isLoggedIn" routerLink="/login" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      Login
    </button>
    <button *ngIf="!isLoggedIn" routerLink="/signup" style="margin-left: 20px; margin-right: 20px; " mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
     Register
      </button>
      
      <button *ngIf="isLoggedIn" (click)="logout()" style="margin-left: 20px; margin-right: 20px; " mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        Logout
      </button>
      <button *ngIf="isLoggedIn && user!=null" style="margin-left: 20px; margin-right: 20px; " mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="/admin/profile">
        {{ login.getUser().username}}
      </button>
    
  </mat-toolbar>
