.truncate{
    display: block;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.example-header-image {
    background-image: url('../../../../assets/quiz.png');
    background-size: cover;
  }
.mt20{
    margin-top: 20px;
}
.mb20{
    margin-bottom: 20px;
}
.ml10{
    margin-right: 0px;
}